<div class="container">
  <!--<form #form (submit)="submit()">
    <app-counter-input name="counter" [(ngModel)]="counter"></app-counter-input>
    <button type="submit">Submit</button>
  </form>
  <span>{{form.value | json}}</span>-->
  <!--<app-custom-date [(ngModel)]="myDate">
    Enter your DOB:
  </app-custom-date>
  <span>{{myDate | json}}</span>-->

  <form #form [formGroup]="dobForm">
    <mat-form-field>
      <custom-material-date placeholder="DOB" required formControlName="myDob"></custom-material-date>
      <mat-hint>Enter your DOB in mm/dd/yyyy format</mat-hint>
    </mat-form-field>
  </form>


  <div>
    <hr />
    <span>{{form.value | json}}</span>
  </div>

  <mat-form-field>
    <custom-material-date placeholder="DOB" required [(ngModel)]="myDob1"></custom-material-date>
    <mat-hint>Enter your DOB in mm/dd/yyyy format</mat-hint>
  </mat-form-field>
  <p>
    {{myDob1 | json }}
  </p>

  <!--<app-learn1></app-learn1>
  <app-learn1-sibling></app-learn1-sibling>

  <p appDefaultTheme color="#0011aa" fontSize="12">App Default Theme</p>
  <p appDefaultTheme color="tomato" fontSize="34">Tomato theme</p>-->

</div>
