:host {
  div {
    display: flex;
    justify-content: space-between;

    input {
      border: none;
      background: none;
      padding: 0;
      outline: none;
      font: inherit;
      text-align: center;
    }

    input::placeholder {
      opacity: 0;
    }

    span {
      opacity: 0;
      padding: 0 5px;
    }
  }

  &.floating span {
    opacity: 1 !important;
  }

  &.floating input::placeholder {
    opacity: 1 !important;
  }
}


